.burger_btn {
  @apply relative w-8 h-8 p-1 flex flex-col justify-around md:hidden;

  > div {
    @apply bg-text-black h-0.5 rounded duration-200;

    &:first-of-type {
      width: 100%;
    }

    &:nth-of-type(2) {
      width: 70%;
    }

    &:last-of-type {
      width: 85%;
    }
  }

  &.burger_btn.is_open {
    > div {
      &:first-of-type {
        width: 100%;
        transform: rotate(45deg) translate(6px, 7px);
      }

      &:nth-of-type(2) {
        width: 70%;
        opacity: 0;
        transform: translateX(-30px);
      }

      &:last-of-type {
        width: 100%;
        transform: rotate(-45deg) translate(4px, -5px);
      }
    }
  }
}

.header_menu {
  @apply w-screen p-10 fixed -bottom-full left-0 duration-200 flex flex-col items-center gap-6 md:pb-0 md:gap-10 lg:gap-20;

  &.is_open {
    @apply bottom-0;
  }

  @screen md {
    @apply static flex-row justify-center;
  }
}

.bg_blur {
  @apply fixed h-screen w-screen backdrop-blur-sm bg-[#ffffff80] md:hidden;
}

.item {
  @apply translate-y-10 opacity-0 duration-500 md:opacity-100 md:translate-y-0 md:min-w-[70px] md:flex md:justify-center;

  &.appear {
    @apply translate-y-0 opacity-100;
  }
}
